<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Stock Data</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet"
        media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/vector-map/jqvmap.min.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

    <!-- Custom CSS for Table Styling -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }

        th,
        td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>


<body class="animsition">
    {% load static %}
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="{% static 'images/icon/admin.jpeg' %}" alt="Admin" />
                    </div>
                    <h4 class="name">Admin</h4>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <li>
                                <a href="/AdminPanel">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            </li>
                        </li>
                        <!-- <li class="active has-sub">
                            <li>
                                <a href="history.html">
                                    <i class="fas fa-shopping-basket"></i>History</a>
                            </li>
                        </li> -->
                        <!-- <li class="active has-sub">
                            <li>
                                <a href="User_data.html">
                                    <i class="fas fa-id-card"></i>User Data</a>
                            </li>
                        </li> -->
                        <li class="active has-sub">
                            <li>
                                <a href=" ">
                                    <i class="fas fa-table"></i>Stock Data</a>
                            </li>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section_content section_content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="header-button2">
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <i class="zmdi zmdi-menu"></i>
                                </div>
                                <div class="setting-menu js-right-sidebar d-none d-lg-block">
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account-o"></i>Sign out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="image img-cir img-120">
                            <img src="{% static 'images/icon/admin.jpeg' %}" alt="Admin" />
                        </div>
                        <h4 class="name">Admin</h4>
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <li>
                                    <a href="AdminPanel">
                                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                                </li>
                            </li>
                            <!-- <li class="active has-sub">
                                <li>
                                    <a href="history.html">
                                        <i class="fas fa-shopping-basket"></i>History</a>
                                </li>
                            </li> -->
                            <!-- <li class="active has-sub">
                                <li>
                                    <a href="User_data.html">
                                        <i class="fas fa-id-card"></i>User Data</a>
                                </li>
                            </li> -->
                            <li class="active has-sub">
                                <li>
                                    <a href="stock_data.html">
                                        <i class="fas fa-table"></i>Stock Data</a>
                                </li>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END HEADER DESKTOP-->

            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75">
                <div class="section_content section_content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">You are here:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <a href="#">Home</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Dashboard</li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Stock_Data</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <div class="main-content">
                <div class="section_content section_content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Stock Data</h3>
                               
<h2>Computers</h2>
<table>
    <thead>
        <tr>
            <th>Computer ID</th>
            <th>RAM</th>
            <th>Price</th>
            <th>Processor</th>
            <th>Type</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for pre_made in pre_assembled %}
        <tr>
            <td>{{ pre_made.0 }}</td>
            <td>{{ pre_made.1 }}</td>
            <td>{{ pre_made.2 }}</td>
            <td>{{ pre_made.3 }}</td>
            <td>{{ pre_made.4 }}</td>
            <td>{{ pre_made.5 }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

<div style="margin-top: 20px;">
    <button class="styled-button" onclick="showInsertForm()">Insert into Database</button>
    <button class="styled-button" onclick="showRemoveForm()">Remove from Database</button>
</div>

<!-- Insert Form -->
<div id="insertForm" style="display:none; margin-top: 20px;">
    <h3>Insert New Computer</h3>
    <form action="/insert_computer" method="post">
        <label for="ram">RAM:</label>
        <input type="text" id="ram" name="ram"><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"><br>
        <label for="processor">Processor:</label>
        <input type="text" id="processor" name="processor"><br>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type"><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Insert">
    </form>
</div>

<!-- Remove Form -->
<div id="removeForm" style="display:none; margin-top: 20px;">
    <h3>Remove Computer</h3>
    <form action="/remove_computer" method="post">
        <label for="computer_id">Computer ID:</label>
        <input type="text" id="computer_id" name="computer_id"><br>
        <input type="submit" value="Remove">
    </form>
</div>

<script>
    function showInsertForm() {
        document.getElementById('insertForm').style.display = 'block';
        document.getElementById('removeForm').style.display = 'none';
    }

    function showRemoveForm() {
        document.getElementById('insertForm').style.display = 'none';
        document.getElementById('removeForm').style.display = 'block';
    }
</script>

<style>
    .styled-button {
        background-color: blue;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        transition-duration: 0.4s;
    }

    .styled-button:hover {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }
</style>




                                <h2>Monitors</h2>
    <table>
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for monitor in monitors %}
            <tr>
                <td>{{ monitor.0 }}</td>
                <td>{{ monitor.1 }}</td>
                <td>{{ monitor.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Keyboards</h2>
    <table>
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for keyboard in keyboards %}
            <tr>
                <td>{{ keyboard.0 }}</td>
                <td>{{ keyboard.1 }}</td>
                <td>{{ keyboard.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>RAMs</h2>
    <table>
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Name</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for ram in rams %}
            <tr>
                <td>{{ ram.0 }}</td>
                <td>{{ ram.1 }}</td>
                <td>{{ ram.2 }}</td>
                <td>{{ ram.3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>SSDs</h2>
    <table>
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Name</th>
                <th>Write Speed</th>
                <th>Capacity</th>
                <th>Read Speed</th>
            </tr>
        </thead>
        <tbody>
            {% for ssd in SSDs %}
            <tr>
                <td>{{ ssd.0 }}</td>
                <td>{{ ssd.1 }}</td>
                <td>{{ ssd.2 }}</td>
                <td>{{ ssd.3 }}</td>
                <td>{{ ssd.4 }}</td>
                <td>{{ ssd.5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>HDDs</h2>
    <table>
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Name</th>
                <th>Write Speed</th>
                <th>Capacity</th>
                <th>Read Speed</th>
            </tr>
        </thead>
        <tbody>
            {% for hdd in HDDs %}
            <tr>
                <td>{{ hdd.0 }}</td>
                <td>{{ hdd.1 }}</td>
                <td>{{ hdd.2 }}</td>
                <td>{{ hdd.3 }}</td>
                <td>{{ hdd.4 }}</td>
                <td>{{ hdd.5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>CPUs</h2>
    <table>
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Name</th>
                <th>Clock Speed</th>
                <th>Generation</th>
            </tr>
        </thead>
        <tbody>
            {% for cpu in CPUs %}
            <tr>
                <td>{{ cpu.0 }}</td>
                <td>{{ cpu.1 }}</td>
                <td>{{ cpu.2 }}</td>
                <td>{{ cpu.3 }}</td>
                <td>{{ cpu.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>GPUs</h2>
    <table>
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Name</th>
                <th>Clock Speed</th>
                <th>Generation</th>
            </tr>
        </thead>
        <tbody>
            {% for gpu in GPUs %}
            <tr>
                <td>{{ gpu.0 }}</td>
                <td>{{ gpu.1 }}</td>
                <td>{{ gpu.2 }}</td>
                <td>{{ gpu.3 }}</td>
                <td>{{ gpu.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                                
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>
    <script src="{% static 'vendor/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendor/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendor/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendor/vector-map/jquery.vmap.world.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js-a/main.js' %}"></script>

</body>

</html>
<!-- end document-->